PORT=8080
DB_DSN=host=localhost user=postgres password=postgres dbname=performance port=5432 sslmode=disable TimeZone=Asia/Bangkok
JWT_SECRET=change-me-please
JWT_EXPIRE_HOURS=24
AUTO_MIGRATE=true
ADMIN_EMAIL=admin@company.com
ADMIN_PASSWORD=Admin@1234
